* {
  box-sizing: border-box;
  list-style-type: none;
  text-align: center;
}
a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #eae2b3;
}

.main {
  margin: 0;
}
/* HERO */
.hero {
  height: 100vh;
  width: 100vw;
}

/* ABOUT */
.about {
  width: 100vw;
  background-color: #c3d3c8;
}

/* PROJECTS */

.projects {
  width: 100vw;
}

.cardImg img {
  width: 100%;
  height: 300px;
}

/* .card {
  -moz-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
} */

/* MODAL */

.modalLinks {
  margin-left: auto;
  margin-right: auto;
}

/* Contact */

.contact {
  width: 100vw;
  background-color: #c3d3c8;
}

.email {
  font-weight: 500;
}

.email:hover {
  background-color: #9a9a9a;
}

/* FOOTER */

.footer {
  height: 130px;
  width: 100vw;
  background-color: #34343c;
  color: white;
}
