* {
  box-sizing: border-box;
  list-style-type: none;
  text-align: center;
}
a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #eae2b3;
}

.main {
  margin: 0;
}
/* HERO */
.hero {
  height: 100vh;
  width: 100vw;
}

/* ABOUT */
.about {
  width: 100vw;
}
.aboutContext {
  margin-left: auto;
  margin-right: auto;
}

/* PROJECTS */

.projects {
  width: 100vw;
}

.cardImg img {
  width: 100%;
  height: 300px;
}

/* MODAL */
.modal-title {
  color: white;
}
.modal-content {
  background-color: #34343c;
  color: white;
}
.modalLinks {
  margin-left: auto;
  margin-right: auto;
}
.close {
  color: white;
}

/* Contact */

.contact {
  width: 100vw;
}

.email {
  font-weight: 500;
}

.email:hover {
  background-color: #9a9a9a;
}

/* FOOTER */

.footer {
  height: 130px;
  width: 100vw;
  background-color: #34343c;
  color: white;
}

/* DARK MODE*/
.lightEven {
  background-color: #c3d3c8;
}
.darkOdd {
  background-color: #25282b;
  color: white;
}
.darkEven {
  background-color: #363b3f;
  color: white;
}
.lightCard {
  background-color: #c3d3c8;
}

.darkCard {
  background-color: #363b3f;
}

.socialsDark {
  color: white;
}
